* {

  font-size: 24px;
  
}

.borderCushion {
  margin: 3%;
}

.flexColumn {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.tipSelection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-items: center;


}

.button {
 width: 90%;
 margin-bottom: 5%;
}

